/*
---------------------------
Generic HTML Element classes
---------------------------
*/
html, body {
	font-family: sans-serif;
	font-size: 10pt;
	background-color: #707070;
	padding: 0;
	margin: 0;
}

/*
---------------------------
Global classes
---------------------------
*/
.hidden {
	display:none !important;
}

.pulse {
	animation-duration: 1s;
	animation-name: pulse;
	animation-iteration-count: infinite;
  	animation-direction: alternate;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px 0px red;
  }
  25% {
    box-shadow: 0px 0px 1px 1px red;
  }
  50% {
	  box-shadow: 0px 0px 2px 2px red;
  }
 75% {
	  box-shadow: 0px 0px 3px 2px red;
  }
 100% {
	box-shadow: 0px 0px 3px 2px red;
  }
}

/*
---
*/
#login-wrapper a, #login-wrapper a:hover, #login-wrapper a:visited, #login-wrapper a:active {
	color: #FFFF99;
	text-decoration: none;
}

#wrapper1 {
	padding: 0.5em;
	max-width: 60em;
	margin: 0 auto;
}

.wrapper2 {
	display: block;
	width: 100%;
}

.wrapper3 {
	margin-top: 0.5em;
	display: table;
	width: 100%;
}

.wrapper4 {
	display: table-row;
	width: 100%;
}

#upper_ui {
	display: block;
	height: 34em;
	border-spacing: 0.5em;
}

#lower_wrapper {
	display: table-row;
}

#lower_ui {
	display: table-cell;
	vertical-align: top;
}

.center_helper {
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	position: absolute;
}

#login-wrapper {
	font-size: 12pt;
	max-width: 300px;
	padding: 1.5em;
	padding-bottom: 2em;
	background-color: #121214;
	color: #E6E6E6;
	border: 5pt solid #707070;
	border-top-width: 0;
	position: relative;
	margin: 0 auto;
	border-radius: 0 0 25px 25px;
	box-shadow: 1px 1px 20px #000000;
	border-color: rgba(112, 112, 112, .6);
	z-index: 100;
}
.slide_page h1 {
	color: inherit;
	font-family: sans-serif;
	font-size: 1.5em;
	margin: 0 0 0.5em 0;
}
.slide_page .spinner {
	display: none;
	margin: 0 auto;
}

#vgairc_loginform {
	margin-top: 0.6em;
}

#vgairc_loginform label,
#vgairc_loginform input {
	display: block;
}
#vgairc_loginform input {
	width: 16em;
	margin-bottom: 0.5em;
}

#slide_message {
	font-weight: bold;
	color: #C01010;
	width: 100%;
	line-height: 1.5em;
}

#debug_wrapper {
	padding: 0;
	background-color: #e6e6e6;
	max-width: 28em;
	min-width: 300px;
	max-height: 30em;
	padding-bottom: 2em;
	border: 5pt solid #707070;
	border-top-width: 0;
	position: relative;
	margin: 0 auto;
	border-radius: 0 0 25px 25px;
	box-shadow: 1px 1px 20px #000000;
	border-color: rgba(112, 112, 112, .6);
	z-index: 200;
    display: none;
	overflow: auto;
}

form.debug {
	width: 100%;
}

#debugoutput {
	font-size: 8pt;
	line-height: 8pt;
	font-family: monospace;
	background-color: #121214;
	color: #E6E6E6;
	border: none;
	padding: 0;
	width: 100%;
	height: 12em;
	overflow-x: scroll;
}

form.debug input {
	margin-bottom: 0.3em;
	border: 1px solid #121214;
	background-color: #E6E6E6;
	color: #121214;
}

form.debug #showdebug {
	min-width: 300px;
}

/*
#chathistory_wrapper {
	display: block;
	width: 100%;
    overflow-x: hidden;
}
*/

.chathistory {
	background-color: #e6e6e6;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 34em;
}

.chathistory .message.self {
	background-color: #e6dfdf;
}

.chathistory .message.mentioned{
	background-color: #F6E6E6;
}

.chathistory .message.private{
	background-color: #cccccc;
}

.chathistory .message.ctcp {
	background-color: #f0f;
}

/*
#chathistory .message:hover {
    background-color: #f0f0f0 !important;
	box-shadow: 0px 0px 6px #999999 !important;
}
*/

.chathistory .message .messagebuttons {
    display: none;
}

.chathistory .message:hover .messagebuttons {
    display: inline;
}

.chathistory .informative {
	font-style: italic;
	color: #999;
	text-align: center;
	padding: .3em;
}

#chatbox_input {
	font-size: 10pt;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	vertical-align: top;
}

.chatui_form {
	width: 100%;
	border-bottom: 0.5em solid #707070;
	display: table-cell;
	vertical-align: top;
}

#chatui_buttons {
	display: table-cell;
	vertical-align: top;
	min-width: 80px;
	margin: 0;
	padding: 0;
	border: 0;
}

#chatui_buttons a {
	display: inline;
	margin-left: 4px;
	padding: 0;
	border: 0;
}

#chatui_buttons a img {
	padding: 0;
	border: 0;
	margin: 0;
}

.chatbox_button {
	width: 6em;
}

#settings_wrapper {
	padding: 0;
	background-color: #e6e6e6;
	max-width: 28em;
	max-height: 30em;
	padding-bottom: 2em;
	border: 5pt solid #707070;
	border-top-width: 0;
	position: relative;
	margin: 0 auto;
	border-radius: 0 0 5px 5px;
	box-shadow: 1px 1px 20px #000000;
	border-color: rgba(112, 112, 112, .6);
	z-index: 40;
    display: none;
	overflow-x: hidden;
	overflow-y: scroll;
}

#settings {
	width: 100%;
	height: 100%;
}

#settings a {
	text-decoration: none;
	padding: 0.2em 0.5em;
	border: 1px solid #121214;
	background-color: #E6E6E6;
	color: #121214;
}

/*
---------------------------
User classes
---------------------------
*/
.user-entry {
	display: block;
	padding: 2px 4px;
}

.user-entry .message {
	display: inline-block;
	vertical-align: middle;
	line-height: 16px;	
	word-wrap: break-word;
	padding-left: 2px;
}

/*
---------------------------
Username classes
---------------------------
*/
.user-entry .username {
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
}

.user-entry .username:first-letter {
    text-transform: uppercase;
}

.large .user-entry .username {
	margin-left: 0.4rem;
	font-size: 1.8rem;
}

.mid-size .user-entry .username {
	margin-left: 0.3rem;
	font-size: 1.4rem;
}

.small .user-entry .username {
	margin-left: 0.2rem;
	font-size: 1.0rem;
}

/*
---------------------------
Icon classes
---------------------------
*/
div.icon.role {
    vertical-align: middle;
	background-image: url(/img/chat_spritesheet_128.png);
	display: inline-block;
}

/*
Large Icons
*/

.large .user-entry .icon.role {
	width: 32px;
	height: 32px;
}

.large .user-entry .icon.role.crew {
    background-position: 0px 0px;
}

.large .user-entry .icon.role.mod {
	background-position: -32px 0px;
}

.large .user-entry .icon.role.guest {
	background-position: -64px 0px;
}

.large .user-entry .icon.role.turbo {
	background-position: -96px 0px;
}

.large .user-entry .icon.role.shadow {
	background-position: -0px -32px;
}

.large .user-entry .icon.role.banned {
	background-position: -32px -32px;
}

/*
Mid-size Icons
*/

.mid-size .user-entry .icon.role {
	width: 24px;
	height: 24px;
}

.mid-size .user-entry .icon.role.crew {
    background-position: 0px -64px;
}

.mid-size .user-entry .icon.role.mod {
	background-position: -24px -64px;
}

.mid-size .user-entry .icon.role.guest {
	background-position: -48px -64px;
}

.mid-size .user-entry .icon.role.turbo {
	background-position: -72px -64px;
}

.mid-size .user-entry .icon.role.shadow {
	background-position: -0px -88px;
}

.mid-size .user-entry .icon.role.banned {
	background-position: -24px -88px;
}

/*
Small Icons
*/

.small .user-entry .icon.role {
	width: 16px;
	height: 16px;
}

.small .user-entry .icon.role.crew {
    background-position: -64px -32px;
}

.small .user-entry .icon.role.mod {
	background-position: -80px -32px;
}

.small .user-entry .icon.role.guest {
	background-position: -96px -32px;
}

.small .user-entry .icon.role.turbo {
	background-position: -112px -32px;
}

.small .user-entry .icon.role.shadow {
	background-position: -64px -48px;
}

.small .user-entry .icon.role.banned {
	background-position: -80px -48px;
}


/*
---------------------------
User List classes
---------------------------
*/

#user_list_wrapper {
	padding: 0;
	background-color: #e6e6e6;
	max-width: 28em;
	max-height: 30em;
	padding-bottom: 2em;
	border: 5pt solid #707070;
	border-top-width: 0;
	position: relative;
	margin: 0 auto;
	border-radius: 0 0 5px 5px;
	box-shadow: 1px 1px 20px #000000;
	border-color: rgba(112, 112, 112, .6);
	z-index: 20;
	overflow-x: hidden;
	overflow-y: scroll;
}

.user_list {
	width: 100%;
	height: 100%;
}

.user_list .user-entry > .icon.role.crew + .username {
	color: #8b2222;
}

.user_list .user-entry > .icon.role.mod + .username {
	color: #228b22;
}

.user_list .user-entry > .icon.role.guest + .username {
	color: #1e90ff;
}

.user_list .user-entry > .icon.role.turbo + .username {
	color: #4682D0;
}

.user_list .user-entry > .icon.role.shadow + .username {
	color: #B0A065;
}

.user_list .user-entry > .icon.role.banned + .username {
	color: #aaa;
}

.user_list .user-entry {
	border-bottom: 1px dotted #ccc;
}

/*
---------------------------
Chat History classes
---------------------------
*/
.chathistory div.modbroadcast span.text {
    font-weight: bold;
    background-color: #FF6E00;
    color: #000000;
    padding: 0 1em;
}

.chathistory div.user-message {
	line-height: 16px;
	padding: .2em;
	padding-left: 0.5em;
    word-wrap: break-word;
}

.chathistory .user-message .username {
	font-weight: bold;
	text-transform: capitalize;
}

.chathistory .user-message .username.action {
	font-weight: normal;
	font-style: italic;
}

/*
----
*/

/* Colors for users */
div.regular.nickColor1 div.username {
	color: #ab6060;
}
div.regular.nickColor2 div.username {
	color: #6db05d;
}
div.regular.nickColor3 div.username {
	color: #75b3ae;
}
div.regular.nickColor4 div.username {
	color: #72a2b8;
}
div.regular.nickColor5 div.username {
	color: #8369a0;
}
div.regular.nickColor6 div.username {
	color: #a866a0;
}
div.regular.nickColor7 div.username {
	color: #bfa05d;
}

div.voice.nickColor1 div.username {
	color: #ac4b4b;
}
div.voice.nickColor2 div.username {
	color: #51b03b;
}
div.voice.nickColor3 div.username {
	color: #3bb0a8;
}
div.voice.nickColor4 div.username {
	color: #3b8db0;
}
div.voice.nickColor5 div.username {
	color: #713bb0;
}
div.voice.nickColor6 div.username {
	color: #b03ba0;
}
div.voice.nickColor7 div.username {
	color: #d1991a;
}

div.halfop.nickColor1 div.username, div.op.nickColor1 div.username, div.crew.nickColor1 div.username {
	color: #b03b3b;
}
div.halfop.nickColor2 div.username, div.op.nickColor2 div.username, div.crew.nickColor2 div.username {
	color: #51b03b;
}
div.halfop.nickColor3 div.username, div.op.nickColor3 div.username, div.crew.nickColor3 div.username {
	color: #3bb0a8;
}
div.halfop.nickColor4 div.username, div.op.nickColor4 div.username, div.crew.nickColor4 div.username {
	color: #3b8db0;
}
div.halfop.nickColor5 div.username, div.op.nickColor5 div.username, div.crew.nickColor5 div.username {
	color: #713bb0;
}
div.halfop.nickColor6 div.username, div.op.nickColor6 div.username, div.crew.nickColor6 div.username {
	color: #b03ba0;
}
div.halfop.nickColor7 div.username, div.op.nickColor7 div.username, div.crew.nickColor7 div.username {
	color: #d1991a;
}